:root {
  --font-size: 1.5rem;
}

::selection {
  background-color: rgb(207, 174, 0);
}

section {
  padding-left: 2.5rem;
}

h1 {
  margin: 2.5rem 0;
  padding: 0 !important;
}

h1,
h2,
h3 {
  font: inherit;
  margin-left: -2.5rem;
}

@media all and (max-width: 700px) {
  :root {
    --font-size: 1.25rem;
  }
  section {
    padding-left: 1.25rem;
  }
  h1 {
    margin: 2rem;
  }
  h1,
  h2,
  h3 {
    margin-left: -1.25rem;
  }
}

@media all and (max-width: 500px) {
  :root {
    --font-size: 0.85rem;
  }
  section {
    padding-left: 0rem;
  }
  h1 {
    margin: 1rem;
  }
  h1,
  h2,
  h3 {
    margin-left: 0;
  }
}

h1:before {
  content: "# ";
}

h1 time,
section time {
  color: #708090;
  word-break: keep-all;
}

li {
  list-style-type: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

ul li:before {
  content: "* ";
  color: #708090;
}

.postlist li {
  display: flex;
  gap: 1rem;
}

img {
  max-width: 100%;
}

body {
  font-family: "Roboto Mono", Monaco, Courier, monospace;
  font-size: var(--font-size);
  line-height: 1.5;
  padding: 0.25rem;
}

footer {
  background: rgb(93 167 3);
  bottom: 0;
  border-bottom: 10px solid white;
  box-sizing: border-box;
  font-family: monospace;
  font-size: var(--font-size);
  left: 0;
  margin: 0 0.5rem;
  padding: 0;
  position: fixed;
  width: calc(100% - 1rem);
}

a:link {
  color: inherit;
}

header,
footer {
  display: flex;
  justify-content: space-between;
}

a.header {
  color: inherit;
  text-decoration: none;
}

header,
main {
  max-width: 70ch;
}

header {
  margin: var(--font-size) 0;
  max-width: 70ch;
}

main {
  padding-bottom: 6rem;
}

h2 {
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: calc(var(--font-size) * 2);
}

p:first-of-type {
  margin: 0;
}

.pager {
  background: #fff;
  bottom: 100%;
  font-weight: lighter;
  position: absolute;
  width: 100%;
}

.pager-colon:after {
  background: black;
  content: "";
  height: 100%;
  left: 1.25rem;
  position: absolute;
  top: 0;
  width: 1rem;
}

.pager .pager-end {
  display: none;
}

.pager--at-bottom .pager-end {
  background: #000;
  color: #fff;
  display: inline-block;
}

.pager--at-bottom .pager-end + span {
  display: none;
}
