---
---

@import 'syntax';

$xy:6px;
$logo-color: #000;

.site-title.logo{
  width:5 * $xy;
  margin-top:-$xy;
  height:7 * $xy;
  display:inline-block;
  position:relative;
  &:after{
    content:'';
    display:block;
    position:absolute;
    left:0;
    top:0;
    height:$xy;
    width:$xy;
    box-shadow: 2 * $xy $xy 0 $logo-color
              , 2 * $xy 3 * $xy 0 $logo-color
              , 2 * $xy 4 * $xy 0 $logo-color
              , 2 * $xy 5 * $xy 0 $logo-color
              , 1 * $xy 5 * $xy 0 $logo-color
              , 3 * $xy 3 * $xy 0 $logo-color;
  }
}

img{
  max-width:100%;
}

*{
  box-sizing:border-box;
}

html, body{
  height: 100%;
  font-family:Inconsolata, 'Monaco', monospace;
  position:relative;
  max-width:50em;
}

body{
  margin:1em;
}
header{
  background:#849A00;
  position:fixed;
  bottom:1em;
  padding:.5em 1em;
  left:1em;
  right:1em;
  @media all and(max-width:50em){
    font-size:.6em;
  }
  a{
    color: #fff;
    text-decoration:none;
    &:first-child{
      @media all and (max-width:50em){
	display:block;
	margin-bottom:.25em;
      }
    }
  }
  &:before{
    content:':';
    display:block; 
    width:.65em;
    box-shadow: 8px 0px 0px #000;
    position:absolute;
    bottom:100%;
    left:.5em;
  }
}

section{
  padding-left:4rem;
  padding-bottom:7em;
    @media all and (max-width:50em){
      padding:0 1rem 7rem 1rem;
    }
  h2{
    margin-left:-4rem;
    @media all and (max-width:50em){
      margin-left:0;
    }
    font-size:1.25em;
    &:first-of-type{
      margin-top:2em;
    }
  }
  ul{
    padding:0;
    list-style:none;
    li a{
      color:#60605F;
      &:visited{
	color:#bbb;
        text-decoration:none;
      }
    }
    li {
      margin:.5em 0;
    }
  }
}

.post-date{
  color:#bbb;
}

.cf:after{
  content:" ";
  display:table;
  clear:both;
}

.left{
  float:left;
}

.center{
  text-align:center;
}

.right{
  float:right;
}

.logo{
  color:inherit;
  text-decoration:none;
}

.active:after{
  content:"*";
}

.description{
  padding-left:2em;
}

@media all and (max-width:40em){
  .post-date{
    display:block;
    padding-left:2em;
  }
}

nav > a{
  display:inline-block;
  @media all and (max-width:40em){
    padding:.5em 0;
  }
}
