@keyframes slideRight {
	0%{
		transform:translateX(-100px);
		opacity:0;
	}
	100%{
		transform:translateX(0);
		opacity:1;
	}
}

@keyframes slideLeft {
	0%{
		transform:translateX(100px);
		opacity:0;
	}
	100%{
		transform:translateX(0);
		opacity:1;
	}
}

.logo{
	display:inline-block;
	animation:slideRight 1s forwards;  
}

.site__nav{
	animation:slideLeft 1s forwards;
}
