.site__header a {
  transition:all .2s ease;
  color:#666;
  border:none;
  &:hover{
    color:#000;
  }
}

@media all and (max-width:30em){
  .site__header a{
    font-size:.9em;
  }
  .site__nav li:before{
    display:none;
  }
  .site__header h1{
    text-align:left;
    padding-left:.5em;
    a {
      font-weight:600;
    }
  } 
  .site__header ul{
    text-align:left;
  }
}
