*{
    box-sizing: border-box;
}

body, html{
    margin:0;
    overflow-x:hidden;  
}

.wrapper{
    width:90%;
    margin:auto;  
}

article{
	margin:1em 0 2em 0;
		&:first-of-type{
			margin-top:3em;
		}
		&:last-of-type{
			margin-bottom:5em;
		}
}

.site__nav {
	text-align:center;
	ul{
		margin:0;
		padding:0;
	}
	li{
		display:block;
		float:left;
	}
}

.preview h2, .post h2{
	margin-bottom:0;
}

.site__header h1{
	float:left;
	@media all and (max-width: 25em){
		float:none;
	}
}

.site__nav{
	float:right;  
	li a{
		display:block;
		padding:2.25em .5em;
	}
}

.site__header h1{
	padding:2.25em 0em;
	@media all and (max-width: 25em){
		padding:1em 0em;
	}
}




@media all and (max-width:30em){
	.site__nav,
	.site__header{
		float:none;
		text-align: center;
		padding-top:0 !important;
	}
	.site__nav{
                border-top:1px solid #eee;
                border-bottom:1px solid #eee;
		li{
			position:relative;
		}
		li a{
			padding:1.25em .5em;
                        font-size:.75em;
		}
	}
}

.project__img{
	max-width:100%;
	display:block;
	margin:auto;
	@media all and (min-width:40em){
		float:left;
		max-width: 100%;
		width:33%;
		margin:0 1em .5em 0;
	}
}

.site__footer{
  clear:both;
}
