section{
	padding:4em 0;
	@media all and (max-height:30em){
		padding:2em 0;
	}
}

@media all and (min-width:35em){
	.wrapper{
		max-width:35em;
	}
}

.me{
	width:200px;
	margin:auto;
	border-radius:100%;
	display:block;
	margin:auto;
	margin-bottom:2em;
	@media all and (min-width: 35em){
		margin-right:1em;
		float:left;
		margin-bottom:12em;
	}
}

.icons{
	padding:1em 0;
	i{
		padding:0 .5em;
		display:inline-block;
		transition:all .2s ease;
		&:hover{
			transform:scale(1.5);
		}
	}
}
