---
layout: layouts/page.njk
permalink: index.html
title: ""
---

<section>
  <h2>Hello</h2>
  <p>
    My name is <strong>Jesse Shawl</strong>. This website is my little
    corner of the world wide web where I post notes about programming and
    computer-related things that I wish had existed before I wrote them.
  </p>
</section>

<section>
  <h2>Useful Links</h2>
  <ul class="icons-only">
    <li>
      <a href="mailto:jesse@jesse.sh">mailto:jesse@jesse.sh</a>
    </li>
    <li>
      <a href="https://proof.im/jshawl">proof.im/jshawl</a>
    </li>
    <li>
      <a href="https://github.com/jshawl">github.com/jshawl</a>
    </li>
    <li>
      <a href='https://codepen.io/jshawl'>codepen.io/jshawl</a>
    </li>
    <li>
      <a href="https://stackoverflow.com/users/850825/jshawl">stackoverflow.com/jshawl</a>
    </li>
    <li>
      <a href="https://keybase.io/jshawl"> keybase.io/jshawl</a>
    </li>
  </ul>
</section>

<section>
  <h2>Featured Projects</h2>
  <ul>
    <li><a href='https://github.com/jshawl/minisign/'>minisign</a> Ruby implementation of <a href='https://jedisct1.github.io/minisign/'>jedisct1/minisign</a>.</li>
    <li><a href='https://proof.im/'>proof.im</a> Zero-trust digital signature proofs of identity.</li>
    <li><a href='https://www.cinotify.cc/'>CI Notify</a> Zero-configuration notifications for CI/CD pipelines.</li>
    <li><a href='https://httpz.app/'>httpz.app</a> Inspect RESTful http requests.</li>
    <li><a href='https://unqueue.herokuapp.com/'>unqueue</a> Mark all Pocket items read.</li>
  </ul>
</section>

<section>
  <h2>Notes (<a href="{{ metadata.feed.path | url }}">rss</a>)</h2>
  {% set postslist = collections.posts %} {% include "postslist.njk" %}
</section>