<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
      <meta name="viewport" content="width=device-width">
      <meta name="description" content="{{ site.description }}">
      <link href='//fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
      <meta name="referrer" content="always">
      <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
      <!-- Custom CSS -->
      <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css?{{ site.time | date: "%Y-%m-%d" }}">
  </head>

    <body>
<header class="cf site-header">

    <nav class="site-nav">
      <div class="trigger">
        <a href='/' class='logo'>~/</a> |

        {% for item in site.navigation %}
        {% assign class = nil %}
        {% if page.url == item.url && item.url == "/index.html" %}
          {% assign class = 'active' %}
        {% elsif page.url == item.url %}
          {% assign class = 'active' %}
        {% endif %}
        <a href="{{ item.url }}" class="page-link js-tmux {{class}}">{{ item.title }}</a> |
        {% endfor %}
        <a href="mailto:jesse@jshawl.com">[jesse@jshawl.com]</a>
      </div>
    </nav>
</header>
<hr>
<section>
      {{ content }}
</section>
<script src='/js/app.js'></script>

    </body>
</html>
