---
layout: layouts/base.njk
templateClass: tmpl-post
---

<section>
    <h1>{{ title }} <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></h1>

    {{ content | safe }}
</section>
